---
layout: default
title: Blog-SummerSummer
---

{% include header.html %}

<div class="row">
	<ul class="post-list large-8 large-centered columns">
			{% for post in site.posts %}		
				<li class="row">
					<div class="small-2 columns circle date-list">
						<ul>
							<li>
								{{ post.date | date_to_string }}
							</li>
							<li>
								4
							</li>
						</ul>
					</div>
					<div class="small-9 columns post-section">
						<h4>
							<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
							</a>
						</h4>
						{{ post.content | truncate: 100 }}
					</div>
				</li>
			{% endfor %}
	</ul>
	<div class="pagination">
		{% if paginator.previous_page %}	
		<a href="{{ paginator.previous_page }}" class="previous">Previous</a>
		{% else %}
		<span class="previous">Previous</span>	
		{% endif %}
		<span class="page_num">{{ paginator.page }} of {{ paginator.total_pages }}</span>
		{% if paginator.next %}
		<a href="{{ paginator.next_page }}" class="next">Next</a>
		{% else %}
		<span class="next">Next</span>
		{% endif %}
	</div>
</div>