#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

.section {
	min-height: 400px;
	color: #ffffff;
	padding: 20px 200px;
	margin-bottom: 20px;
	text-align: center;
}

.section h1 {
	font-size: 45px;
	text-shadow: 0px 1px 2px #ffffff;
	margin: 0;
}

.section-one {
	background-color: #FF6666;
}

.section-tow {
	padding-left: 300px;
	padding-right: 300px;
}

.sction-three {
	background-color: #2ECC71;
}