<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" >
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/normalize.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/foundation.min.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/index.css">
	</head>
	<body>
		<nav class="top-bar">
			<section class="top-bar-section">
				<ul class="right">
					<li class="divider"></li>
					<li>
						<a href="#">Post</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">Photo</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">About</a>
					</li>
				</ul>
			</section>
		</nav>
		<div id="wrapper">
			<div class="section section-one">
				<h1>Test</h1>
				<p>test</p>
			</div>
			<div class="section section-tow">
				
			</div>
			<div class="section section-three">
				
			</div>
		</div>
	</body>
</html>