<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/normalize.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/foundation.min.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/style.css">
	</head>
	<body>
		<nav id="header" class="top-bar">
			<ul class="title-area">
				<li>
					<h1 class="name">
						<a href="/">
							<img class="logo radius" src="{{ site.baseurl }}/assets/img/watermelontree.jpg" alt="SummerSummer"/>
						</a>
					</h1>
				</li>
			</ul>
			<section class="top-bar-section">
				<ul class="right">
					<li>
						<a href="#">Post</a>
					</li>
					<li>
						<a href="#">Photo</a>
					</li>
					<li>
						<a href="#">About</a>
					</li>
				</ul>
			</section>
		</nav>	

		<div class="row">
			<div class="large-8 large-centered columns">
				{{ content }}
			</div>
		</div>
	</body>
</html>