<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/normalize.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/foundation.min.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/style.css">
	</head>
	<body>
		{% include header.html %}
		<div class="row">
			<div class="large-8 large-centered columns">
				{{ content }}
				<div class="pagination">
					{% if paginator.previous_page %}	
					<a href="{{ paginator.previous_page }}" class="previous">Previous</a>
					{% else %}
					<span class="previous">Previous</span>	
					{% endif %}
					<span class="page_num">{{ paginator.page }} of {{ paginator.total_pages }}</span>
					{% if paginator.next %}
					<a href="{{ paginator.next_page }}" class="next">Next</a>
					{% else %}
					<span class="next">Next</span>
					{% endif %}
				</div>
			</div>
		</div>
	</body>
</html>